@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap");
body {
  overflow-x: hidden;

  background-color: #ffffff;
  margin: 0 auto;
}
/* header */
header {
  display: flex;
}
header span img {
  width: 149, 49px;
  height: 39, 97px;
  margin-top: 37px;
  margin-left: 100px;
}
/* nav */
header nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: 130px;
  margin-top: 45px;
}
header nav ul li a {
  text-decoration: none;
  margin-right: 30px;
}
/* nav and ul li */
nav ul li a {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 10px;
  font-family: "Work Sans", sans-serif;

  color: #222222;
}
nav ul .flex1 a {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 10px;
  color: #0082f3;
}
/* sitbor */
.sitbor p {
  background-color: #39cdcc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0px 6px 6px 0px;
  transform: rotate(90deg);
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  font-family: "Work Sans", sans-serif;
  width: 86px;
  height: 20px;
  padding: 13px 25px;
  margin-left: -52px;
  margin-top: 60px;
}
/* conteiner1 */
#top1 {
  margin-top: 80px;
  display: flex;

  justify-content: space-evenly;
}
#top1 .flex3 img {
  margin-top: -120px;
}
#top1 .flex2 h1 {
  max-width: 300px;
}
#top1 .flex2 p {
  max-width: 500px;
  text-align: justify;
}
.flex2 p,
.flex5 p {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  color: #333333;
}
.flex2 h1,
.flex5 h1 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 60px;
  color: #333333;
}
/* conteiner2 */
#top2 .flex5 p {
  max-width: 300px;
  text-align: justify;
}
#top2 .flex5 h1 {
  max-width: 600px;
}
#top1 button
 {
  margin: 0 10px;
  border: none;
  border-radius: 4px;
}
#top2 button {
  margin: 0 12px;
  border: none;
  border-radius: 4px;
}
#top2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 170px;
}
.flex6 h1 {
  font-family: "Work Sans", sans-serif;
  margin-top: 100px;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 50px;

  text-align: center;
  color: #333333;
}
/* section */
/*
.section {
  display: flex;
  max-width: 999px;
  margin: 0 auto;
  margin-top: 60px;
}
.section article img,
h2,
p {
  display: flex;
 justify-content: space-between;
 flex-direction: column;
  
}
.section article {
  width:320px;
  height:290px;
  flex: 1 1 calc(33.33% - 100%);
  box-shadow: 1px 0px 10px #b7b7b7;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  
}

.section article .img1 {
  

  height: 12px;
  background-color: #582eff;
  width: 318px;
}

.section article .img2 {
 
  background-color: #ff814a;
  height: 12px;
  width: 318px;
}
.section article .img3 {
 
  background-color: #31c5a1;
  height: 12px;
  width: 318px;
 
.section article img {
  margin-top: 30px;
}
*/
.section .img4 {
  margin-top: 150px;
  background-color: #582eff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section .img4 .none {
  border: none;
}/*

.section {
  display:flex;
  justify-content:space-evenly;
  flex-wrap:wrap;
  align-items: center;
}
.img {
  height:12px;
  background-color: #582eff;
}
.img .img1 {
  height: 12px;
    background-color: #ff814a;}
    .img .img2{height: 12px;
        background-color: #31c5a1;
    }*/
    article {
      width:320px;
      height:250px;
      border:1px solid black;
      display: flex;
     flex-direction: column;
    justify-content: space-between;
  }
 article img{
   width: 60px;height: 50px;
   margin: 5px auto;
 }
    .section {
      max-width: 876px;
      display:flex;
      justify-content:space-evenly;
     margin: 0 auto;
      align-items: center;
    }
    article h2 {
      font-family: "Work Sans", sans-serif;
      
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;
      text-align: center;
      color: #333333;
    }
    article p {
      font-family: "Work Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
     
      font-size: 16px;
      line-height: 25px;
      text-align: center;
    }
    .img {
      height:12px;
      background-color: #582eff;
    }
    .img2 {
        background-color: #ff814a;}
        .img3{
            background-color: #31c5a1;
        }
/* hover */
footer li:hover {
  border: 2px solid rgb(105, 101, 101);
  padding: 5px;
  border-radius: 5px;
 
}
nav li a:hover {
  border: 2px dashed green;
  padding: 3px;
  border-radius: 4px;

}

main button .none:hover{
  border: 1.9px solid #3f69ff;
  border-radius: 4px;
overflow: hidden;
}
button {
  width: 140px;
  height: 50px;
}

button img:hover {
  border: 1.9px solid #3f69ff;
  border-radius: 4px;margin: 0 0 0 -8px;

}
.section .img4:hover {
  border: 2.9px solid #9b82ff;
  padding: 2px;
  border-radius: 50%;
}
/* main */
main {
  margin-top: 20px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0 0 0;
  background: #31c5a1;
  border-radius: 0px;
}
main p {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;

  color: #ffffff;
  max-width: 600px;
}
main   button {
  border: none;
 margin-right: 10px;
  width: 130px;
  height: 50px;
  border-radius: 4px;
}
main button .none{
  margin-left: -8px;
}

/* footer  */
footer {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  height: 150px;
  padding: 30px;
}

   
  

footer ul {
  list-style: none;
}
footer img {
  width: 150px;
  height: 40px;
}
footer ul li {
  margin-bottom: 5px;
  font-style: normal;
  font-family: "Work Sans", sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;
  color: #333333;
}

/* @media */
@media (max-width: 1035px) {
  .section{
    flex-wrap: wrap;
  } 
 
}



@media (max-width: 650px) {
  header {
    display: flex;
    flex-direction: column;
  }
  header span {
    margin-left: 60px;
  }
  header nav ul {
    margin-left: 100px;
    margin-top: 20px;
  }
  #top1 {
    display: flex;
    flex-direction: column;
    margin-top: -120px;
  }
  #top1 .flex2 {
    max-width: 300px;
    margin-left: 70px;
  }
  #top1 .flex2 button {
    margin-bottom: 10px;
    margin-left: 90px;
  }
  #top1 .flex3 {
    margin-top: 150px;
  }
  #top2 {
    display: flex;
    flex-direction: column-reverse;
  }
  #top2 .flex4 {
    margin-left: 10px;
    margin-top: 30px;
  }
  #top2 .flex5 {
    max-width: 250px;
    margin-left: 70px;
  }
  #top2 .flex5 button {
    margin-bottom: 10px;
    margin-left: 90px;
  }
  .section .img4{
    margin-top: 5px;
  }
  .section .img4 img {
    margin-top: -1px;
  }
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  main p,
  button {
    margin-top: 10px;
    margin-left: 10px;
  }
  footer {
    display: flex;

    flex-direction: column;
    margin-top: 150px;
  }
}
