@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap");
body {
    background-color: #ffffff;
    margin: 0 auto;
  }
  /* header */
  header {
    display: flex;
  }
  header span img {
    margin-top: 13px;
    margin-left: 100px;
  }
  /* nav */
  header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 130px;
    margin-top: 45px;
  }
  header nav ul li a {
    text-decoration: none;
    margin-right: 30px;
  }
  /* nav and ul li */
  nav ul li a {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 10px;
    font-family: "Work Sans", sans-serif;
  
    color: #222222;
  }
  nav ul .flex1 a {
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 10px;
    color: #0082f3;
  }
  /* sitbor */